# virtual env
venv/

# databases
*.db

# outputs
output/
predictions.db
results.db

# frontend junk
frontend/npm
frontend/cls
frontend/package-lock.json

# not part of app core logic
show_predictions.py
simulate_predictions.py


# python
__pycache__/
*.pyc

# misc
.env

cls/
git/
simulate_live.py
__pycache__/
*.db

